.root {
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: stretch;
  height: 100%;
}

/* States */
.important {
  filter: var(--drop-shadow-important);
}

.complete {
  opacity: var(--opacity-half);
}

.text.complete {
  text-decoration: line-through;
}

/* Difficulties */
.difficulty-easy {
  height: 3rem;
}
.difficulty-medium {
  height: 5rem;
}
.difficulty-hard {
  height: 7rem;
}

.staleness {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-small);
}

.refresh {
  display: none;
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.staleness:hover .staleness-text,
.staleness:focus .staleness-text {
  display: none;
}

.staleness:hover .refresh,
.staleness:focus .refresh {
  display: block;
}

.staleness {
  composes: center-contents from "../../../css/util.module.css";
}

.staleness,
.edit {
  flex-basis: 15%;
}

.text {
  flex: 1;
}

.edit {
  text-decoration: underline;
}
