.root {
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: stretch;
  height: 100%;
}

/* States */
.is-important {
  box-shadow: var(--box-shadow-important);

  /* Fix for Chrome bug where it doesn't respect border-radius in the
  drag-and-drop ghost image. Ref: https://tinyurl.com/y5n5ux27. */
  transform: translate(0, 0);
}

.is-dragging {
  opacity: var(--opacity-half);
}

/* Difficulties */
.difficulty-easy {
  height: 3rem;
}
.difficulty-medium {
  height: 5rem;
}
.difficulty-hard {
  height: 7rem;
}

.staleness {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-small);
}

.refresh {
  display: none;
  object-fit: cover;
  width: 50%;
  height: 100%;
}

.staleness:hover .staleness-text,
.staleness:focus .staleness-text {
  display: none;
}

.staleness:hover .refresh,
.staleness:focus .refresh {
  display: block;
}

.text,
.staleness,
.edit {
  composes: center-contents from "../Atoms/index.module.css";
}

.staleness,
.edit {
  flex-basis: 15%;
}

.text {
  flex: 1;
}

.edit {
  text-decoration: underline;
}
