.root {
  align-items: stretch;
  display: flex;
  font-weight: var(--font-weight-bold);
  height: 100%;
  opacity: 0.75;
}

/* States */
.important {
  filter: var(--drop-shadow-important);
}

.complete {
  composes: semi-transparent from "../../css/util.module.css";
}

.strike-through {
  text-decoration: line-through;
}

.staleness {
  composes: center-contents from "../../css/util.module.css";
  font-weight: var(--font-weight-bold);
}

.refresh-icon {
  display: none;
}

.icon {
  --icon-size: 1.25rem;

  height: var(--icon-size);
  width: var(--icon-size);
}

.refresh-icon,
.edit-icon,
.trash-icon,
.save-icon {
  composes: icon;
}

.staleness:hover .staleness-text,
.staleness:focus .staleness-text {
  display: none;
}

.staleness:hover .refresh-icon,
.staleness:focus .refresh-icon {
  display: block;
}

.staleness,
.secondary {
  flex-basis: 15%;
}

.primary {
  flex: 1;
}

.secondary {
  text-decoration: underline;
}

.form {
  align-items: center;
  display: flex;
  padding: 0 var(--spacing-tiny);
  width: 100%;
}
