.root {
  align-items: stretch;
  display: flex;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  height: 100%;
  opacity: 0.75;
}

/* States */
.important {
  box-shadow: var(--drop-shadow-important);
}

.complete {
  composes: semi-transparent from "../../css/util.module.css";
}

.strike-through {
  text-decoration: line-through;
}

.staleness {
  composes: center-contents from "../../css/util.module.css";
  font-weight: var(--font-weight-bold);
}

.refresh-icon {
  display: none;
}

.icon {
  --icon-size: 24px;

  height: var(--icon-size);
  width: var(--icon-size);
}

@media (min-width: env(--breakpoint-phone)) {
  .icon {
    --icon-size: 18px;
  }
}

.refresh-icon,
.edit-icon,
.trash-icon,
.save-icon {
  composes: icon;
}

.staleness:hover .staleness-text,
.staleness:focus .staleness-text {
  display: none;
}

.staleness:hover .refresh-icon,
.staleness:focus .refresh-icon {
  display: block;
}

.staleness,
.secondary {
  flex-basis: 15%;
}

.primary {
  flex: 1;
  overflow-y: scroll;
}

.secondary {
  text-decoration: underline;
}

.form {
  align-items: center;
  display: flex;
  padding: var(--spacing-tiny);
}
