@import "~@reach/slider/styles.css";

:root {
  --marker-size: 12px;
}

[data-reach-slider-input][data-orientation="horizontal"] {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 26px;
}

.label {
  margin-bottom: var(--spacing-tiny);
}

.input {
  composes: with-focus from "../index.module.css";

  border: var(--border-solid);
  border-radius: var(--border-radius);
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}

.highlight {
  background: var(--color-text);
}

.marker {
  height: var(--marker-size);
  width: var(--marker-size);
  border-radius: 50%;
}

.marker[data-state="under-value"] {
  background: var(--color-text);
}

.marker-label {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-medium);
  background: var(--color-background);
  user-select: none;
  position: absolute;
  transform: translate(calc(-50% + var(--marker-size) / 2));
}

.handle {
  composes: with-focus from "../index.module.css";

  border-color: var(--color-text);
}

.slider-track {
  background: var(--color-accent-1);
}
