@import "~/@reach/slider/styles.css";

html {
  --marker-size: 12px;
}

[data-reach-slider-input][data-orientation="horizontal"] {
  /* stylelint-disable mavrin/stylelint-declaration-use-css-custom-properties */
  padding: 4px 14px 20px;
  width: 100%;
}

.input {
  composes: with-focus from "../../../css/util.module.css";
  cursor: pointer;
}

.container {
  border: var(--border-solid);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
}

.label {
  margin-bottom: var(--spacing-tiny);
}

.highlight {
  background: var(--color-text);
}

.marker {
  border-radius: 50%;
  height: var(--marker-size);
  width: var(--marker-size);
}

.marker[data-state="under-value"] {
  background: var(--color-text);
}

.marker-label {
  background: var(--color-background);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-medium);
  user-select: none;
  position: absolute;
  transform: translate(calc(-50% + var(--marker-size) / 2));
}

.handle {
  composes: with-focus from "../../../css/util.module.css";
  border-color: var(--color-text);
}

.slider-track {
  background: var(--color-accent-1);
}
