.root {
  composes: with-focus from "../../../css/util.module.css";
  background: var(--color-background);
  border: var(--border-solid);
  border-radius: var(--border-radius);
  height: var(--input-height);
  padding: var(--spacing-tiny);
  width: 100%;
}
