.root {
  --outer-spacing: var(--spacing-medium);

  height: 100%;
  margin-bottom: var(--outer-spacing);
  margin-top: var(--outer-spacing);
  overflow-y: scroll;
  padding-right: var(--outer-spacing);
  position: relative;
}

.inner {
  composes: inner-spacing-medium from "../../css/util.module.css";
  padding-bottom: var(--spacing-small);
  padding-left: var(--outer-spacing);
}

.root:not(.in-past)::after {
  border: var(--border-dashed);
  content: "";
  left: calc(var(--outer-spacing) / 2);
  position: absolute;
  right: calc(var(--outer-spacing) / 2);
  top:
    calc(
      var(--recommended-difficulty) * var(--min-touch-target-size)
      + (var(--recommended-difficulty) - 1) * var(--spacing-medium)
      + var(--outer-spacing) / 2
      - 1px
    );
  z-index: -1;
}

.blocked {
  background: var(--blocked-gradient);
}

/* stylelint-disable */
.ax-hover-styles button:hover {
  background: inherit !important;
}
/* stylelint-enable */
