.vertical-nav {
  composes: inner-spacing-small from "../../../css/util.module.css";

  padding: var(--spacing-small);
  flex: 0;
}

@media (min-width: 600px) {
  .vertical-nav {
    min-width: 3rem;
  }
}
