.root {
  composes: with-focus from "../index.module.css";

  border: var(--border-solid);
  height: 32px;
  min-width: 32px;
  display: block;
  background: var(--color-background);
  border-radius: var(--border-radius);
}

.root[type="text"] {
  width: 100%;
  padding: var(--spacing-tiny);
}
