.root {
  margin: var(--spacing-small);
  margin-top: 0;
}

.panel {
  border: var(--border-solid);
  border-top: 0;

  &:focus {
    outline: none;
  }
}

.button {
  align-items: center;
  display: flex;
}

.icon {
  height: 1rem;
  margin-right: var(--spacing-tiny);
}
