.panel {
  border-bottom: var(--border-solid);
  border-left: var(--border-solid);
  border-right: var(--border-solid);

  &:focus {
    outline: none;
  }
}

.button {
  align-items: center;
  display: flex;
}

.icon {
  height: 1rem;
  margin-right: var(--spacing-tiny);
}
