.root {
  composes: border-between from "../../css/util.module.css";
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  &:first-child { border-left: var(--border-solid); }
  &:last-child { border-right: var(--border-solid); }
}

.accent { background: var(--color-accent-1); }

.faded { opacity: var(--opacity-half); }

.header {
  composes: inner-spacing-small from "../../css/util.module.css";
  border-bottom: var(--border-solid);
  padding: var(--spacing-small);
}

@media (min-width: env(--breakpoint-phone)) {
  .disclosure {
    margin: var(--spacing-small);
    margin-top: 0;
  }
}
