.root {
  composes: border-between from "../../css/util.module.css";
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  &:first-child {
    border-left: var(--border-solid);
  }

  &:last-child {
    border-right: var(--border-solid);
  }
}

.accent {
  background: var(--color-accent-1);
}

.faded {
  composes: opaque from "../../css/util.module.css";
}

.header {
  composes: inner-spacing-small from "../../css/util.module.css";
  border-bottom: var(--border-solid);
  padding: var(--spacing-small);
}

.actions {
  display: flex;
  align-items: center;
}

.partition,
.sort {
  flex-basis: 30%;
}

.difficulty {
  flex-basis: 40%;
}

.difficulty {
  border-left: var(--border-solid);
  border-right: var(--border-solid);
}

.disclosure {
  width: 100%;
}

@media (min-width: env(--breakpoint-phone)) {
  .disclosure {
    padding: 0 var(--spacing-small) var(--spacing-small) var(--spacing-small);
  }
}
