.base {
  width: 100%;
  cursor: pointer;
  padding: var(--border-width);

  /* Prevent zoom on double-tap */
  touch-action: manipulation;
}

.base:hover,
.base[data-focus-visible-added] {
  background: var(--color-accent-1);
}

.base:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: var(--opacity-half);
}

.disabled:hover,
.disabled:focus {
  background: inherit;
}

.base:active {
  background: var(--color-background);
}

.color-primary {
  background: var(--color-background);
}

.color-transparent {
  background: transparent;
}

.bordered {
  border: var(--border-solid);
}

.rounded {
  border-radius: var(--border-radius);
}

/* Variations */
.primary {
  composes: base color-primary bordered rounded;
}

.square {
  composes: base color-primary bordered;
}

.icon {
  composes: base color-primary rounded;
}

.icon > svg {
  vertical-align: middle;
}

@media (max-width: 600px) {
  .base {
    min-height: var(--min-touch-target-size);
    min-width: var(--min-touch-target-size);
    line-height: var(--min-touch-target-size);
  }
}
