.base {
  background: var(--color-background);
  cursor: pointer;
  min-height: var(--min-touch-target-size);
  min-width: var(--min-touch-target-size);
  width: 100%;

  /* Prevent zoom on double-tap */
  touch-action: manipulation;

  &:focus {
    outline: none;
  }

  &[data-focus-visible-added] {
    background: var(--color-accent-1);
    outline: var(--outline-focus);
    outline-offset: 1px;

    /* Ensure outline doesn't get cut off by buttons behind it. */
    position: relative;
  }

  &:active {
    background: var(--color-background);
  }
}

@media (min-width: env(--breakpoint-phone)) {
  .base {
    min-height: auto;
    min-width: auto;
  }
}

@media (hover: hover) {
  .base:hover:not(:active) {
    background: var(--color-accent-1);
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: var(--opacity-half);

  &:hover,
  &:focus {
    background: inherit;
  }
}

.padded {
  padding: var(--spacing-tiny) var(--spacing-small);
}

.bordered {
  border: var(--border-solid);
}

.rounded {
  border-radius: var(--border-radius);
}

/* Variations */
.primary {
  composes: base bordered rounded padded;
}

.square {
  composes: base bordered padded;
}

.icon {
  composes: base rounded;

  /* stylelint-disable-next-line selector-max-type */
  & > svg {
    vertical-align: middle;
  }
}
