.root {
  composes: center-contents from "../../css/util.module.css";
  align-items: center;
  border-bottom: var(--border-solid);
  display: flex;
  height: var(--header-height);
  padding: var(--spacing-tiny) var(--spacing-small);
  position: relative;
  text-align: center;
}

.right {
  position: absolute;
  right: var(--spacing-small);
}
