/* stylelint-disable selector-max-type */
html {
  box-sizing: border-box;

  /* WCAG 2.1 Section 1.4.8 */
  line-height: 1.5;
}

* {
  border: 0;
  box-sizing: inherit;
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}
