html {
  /* Base Colors (don't use directly) */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 50%);
  --color-grey-lighter-1: hsl(0, 0%, 70%);
  --color-grey-lighter-2: hsl(0, 0%, 90%);
  --color-grey-darker-1: hsl(0, 0%, 30%);
  --color-grey-darker-2: hsl(0, 0%, 20%);
  --color-green: hsl(120, 100%, 25%);
  --color-yellow: hsl(58, 95%, 45%);
  --color-red: hsl(0, 100%, 50%);
  --color-blue: hsl(240, 100%, 50%);
  --color-light-blue: hsl(228, 92%, 45%);
  --color-transparent: hsla(0, 0%, 100%, 0);

  /* Color Scheme (use these) */
  --color-text: var(--color-black);
  --color-text-light: var(--color-accent-2);
  --color-background: var(--color-white);
  --color-border: var(--color-accent-2);
  --color-accent-1: var(--color-grey-lighter-2);
  --color-accent-2: var(--color-grey-lighter-1);
  --color-attention: var(--color-red);
  --color-warning: var(--color-yellow);
  --color-error: var(--color-attention);
  --color-focus: var(--color-light-blue);

  /* Gradients */
  --blocked-gradient:
    repeating-linear-gradient(
      45deg,
      var(--color-black),
      var(--color-black) 10px,
      var(--color-red) 10px,
      var(--color-red) 20px
    );

  /* Sizing */
  --spacing-tiny: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --min-touch-target-size: 44px;

  /* Borders */
  --border-width: 1px;
  --border-dashed: 1px dashed var(--color-border);
  --border-solid: var(--border-width) solid var(--color-border);
  --border-radius: 0.25rem;
  --drop-shadow-important: -4px 4px 4px var(--color-attention);
  --outline-focus: 2px dashed var(--color-focus);

  /* Fonts */
  --font-stack:
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;

  /* Font sizes */
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-emphasis: 1.25rem;
  --font-size-subtitle-small: 1.5rem;
  --font-size-title-small: 1.75rem;
  --font-size-subtitle: 2rem;
  --font-size-title: 2.25rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* Other */
  --header-height: 36px;
  --recommended-difficulty: 1;
  --button-height: var(--min-touch-target-size);
}

/* stylelint-disable-next-line selector-no-qualifying-type */
html.dark-mode {
  --color-attention: var(--color-white);
  --color-text: var(--color-white);
  --color-background: var(--color-black);
  --color-border: var(--color-white);
  --color-accent-1: var(--color-grey-darker-2);
  --color-accent-2: var(--color-grey-darker-1);
  --color-focus: var(--color-yellow);
}
