.root {
  display: grid;
  height: 100%;
  grid-template-areas:
    "header header header"
    "left-nav main right-nav";
  grid-template-columns: var(--nav-width) 1fr var(--nav-width);
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
}

.header {
  grid-area: header;
}

.right-nav {
  grid-area: right-nav;
}

.left-nav {
  grid-area: left-nav;
}

.main {
  grid-area: main;
}
