.root {
  --nav-width: calc(var(--min-touch-target-size) + 2 * var(--spacing-tiny));

  display: grid;
  height: 100%;
  grid-template-areas:
    "header header header"
    "left-nav main right-nav"
    "bottom-nav bottom-nav bottom-nav";
  grid-template-columns: 0 1fr 0;
  grid-template-rows: var(--header-height) 1fr var(--nav-width);
}

@media (min-width: env(--breakpoint-phone)) {
  .root {
    --header-area-height: calc(var(--header-height) + var(--spacing-large));

    grid-template-areas:
      "header header header"
      "left-nav main right-nav"
      "bottom-nav bottom-nav bottom-nav";
    grid-template-columns: var(--nav-width) 1fr var(--nav-width);
    grid-template-rows:
      var(--header-area-height)
      /* Using 1fr here breaks the task scrolling section. */
      calc(100% - var(--header-area-height))
      0;
  }

  .bottom-nav { display: none; }
}

@media (max-width: env(--breakpoint-phone)) {
  .right-nav { display: none; }
  .left-nav { display: none; }
}

.header { grid-area: header; }
.right-nav { grid-area: right-nav; }
.left-nav { grid-area: left-nav; }
.main { grid-area: main; }
.bottom-nav { grid-area: bottom-nav; }
