.root {
  display: block;
}

.label-text {
  line-height: 1;
}

.horizontal {
  align-items: center;
  display: flex;

  & .label-text {
    margin-right: var(--spacing-small);
  }
}

.vertical .label-text {
  margin-bottom: var(--spacing-tiny);
}
