.header {
  composes: inner-spacing-small from "../../../css/util.module.css";
  border-bottom: var(--border-solid);
  padding: var(--spacing-medium);
}

.accent {
  background: var(--color-accent-1);
}

.faded {
  composes: semi-transparent from "../../../css/util.module.css";
}

.date {
  display: inline-block;
  border-bottom: var(--border-solid);
  padding-bottom: var(--spacing-tiny);
}

.actions {
  align-items: stretch;
  display: flex;
}

.partition,
.sort {
  flex-basis: 15%;
}

.difficulty {
  flex-basis: 70%;
}

.partition,
.sort,
.difficulty {
  composes: center-contents from "../../../css/util.module.css";
}

/* TODO: Find a better general-purpose icon-button pattern */
/* stylelint-disable */
.icon-button {
  border: var(--border-solid);

  & svg {
    min-width: 1.5rem;
  }
}
/* stylelint-enable */
