.header {
  border-bottom: var(--border-solid);
  column-gap: var(--spacing-small);
  display: grid;
  padding: var(--spacing-medium);
  grid-template-areas:
    "date date date"
    "left difficulty right";
  grid-template-columns: var(--button-height) auto var(--button-height);
  grid-template-rows: auto var(--button-height);
  row-gap: var(--spacing-medium);
}

.right { grid-area: right; }

.left { grid-area: left; }

.difficulty {
  grid-area: difficulty;
}

.date {
  border-bottom: var(--border-solid);
  display: inline-block;
  padding-bottom: var(--spacing-tiny);
  grid-area: date;
}

.accent {
  background: var(--color-accent-1);
}

.faded {
  composes: semi-transparent from "../../../css/util.module.css";
}

.difficulty-label {
  line-height: 1;
}

/* TODO: Find a better general-purpose icon-button pattern */
/* stylelint-disable */
.icon-button {
  border: var(--border-solid);

  & svg {
    min-width: 1.5rem;
  }
}
/* stylelint-enable */
