.header {
  composes: inner-spacing-medium from "../../../css/util.module.css";
  border-bottom: var(--border-solid);
  padding: var(--spacing-medium);
}

.accent {
  background: var(--color-accent-1);
}

.faded {
  composes: semi-transparent from "../../../css/util.module.css";
}

.actions {
  --day-column-header-height: 1.5rem;

  align-items: stretch;
  display: flex;
  height: var(--day-column-header-height);
}

.partition,
.sort {
  flex-basis: 25%;
}

.difficulty {
  border-left: var(--border-solid);
  border-right: var(--border-solid);
  flex-basis: 50%;
}

.partition,
.sort,
.difficulty {
  composes: center-contents from "../../../css/util.module.css";
}

/* TODO: Find a better general-purpose icon-button pattern */
/* stylelint-disable */
.icon-button {
  border: var(--border-solid);

  & svg {
    min-width: 1.5rem;
  }
}
/* stylelint-enable */
