.root {
  border-radius: var(--border-radius);
  background: var(--color-background);
  border: var(--border-solid);
}

.root > .button {
  border-radius: 0;
  border: none;
}

.root > .button + .button {
  border-left: var(--border-solid);
}

.button:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.button:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
