/* stylelint-disable selector-max-type, selector-max-id */
@import "./css/variables.css";
@import "./css/reset.css";

html {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-stack);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
