.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
}

.h1 {
  font-size: var(--font-size-title);
}

.h2 {
  font-size: var(--font-size-subtitle);
}

.h3 {
  font-size: var(--font-size-title-small);
}

.h4 {
  font-size: var(--font-size-subtitle-small);
}

.h5 {
  font-size: var(--font-size-emphasis);
}

.h6 {
  font-size: var(--font-size-normal);
}
